.nav__container{
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.nav__logo{
  font-size: 1.1rem;
  font-weight: 500;
  transition: .4s;
}
.nav__menu__list{
  position: fixed;
  bottom: 1rem;
  width: 90%; 
  margin-left:12.3rem;
  z-index:100;
}
.nav__list{
  display: flex;
  /* background-color: var(--lightBlue_1);  */
  background-color: #67568c;
  padding: 1rem 2.35rem;
  width:310px;
  border-radius:2rem;
  
}

.nav__link{
  font-size:1.5rem;
  padding: .4rem;
  display: flex;
  border-radius: 5rem;
  color: rgb(233, 200, 200);
  margin-left:.5rem;
}

.active__link__navbar{
  background-color: red;
}

/* ========================================= media query and responsive ============================  */


@media (max-width:1200px){

  .nav__container{

    margin-left:7.1rem;

  }

 
 

} 


@media (max-width:992px){
  .nav__menu__list{

    margin-left:7.1rem;
    
  }
   

  

}


@media (max-width:768px){

  .nav__menu__list{

    margin-left:7.1rem;
    
  }
  

}

@media (max-width:576px){
  .nav__menu__list{

    margin-left:7.1rem;
    
  }
  

}

@media (max-width:576px){
  .nav__menu__list{

    margin-left:3.1rem;
    
  }
  

}


@media (max-width:400px){
  .nav__menu__list{

    margin-left:2.1rem;
    
  }
  

}


@media (max-width:276px){
  .nav__menu__list{

    margin-left:.980rem;
    
  }
  

}