 /* ----------------------------------- navbar -------------------------------- */

 nav{
  line-height:4rem;
  
}
.nav__container{
    display: flex;
    justify-content: space-between;
}
.nav__menu__list{
    display: flex;
    gap:2rem;
}
.nav__menu__list li a{
   font-weight: 800;
   font-size:1.2rem;
   color: var(--mediumSlateBlue);
  
   
}

/* ========================================= media query and responsive ============================  */


@media (max-width:1200px){
  .nav__container{
    margin:0 5rem;
  }
}


@media (max-width:992px){
  .nav__container{
    margin:0 5rem;
   
  }
}


@media (max-width:768px){
  .nav__container{
    margin:0 5rem;
    
  }
}

@media (max-width:576px){
  .nav__container{
    /* margin-left: 5rem;
    margin-right: 5rem; */
    margin:0 5rem;
    
  }
}