/* ============================== Google Fonts ==========================================================*/

@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Poppins:wght@400;500;600&family=Quattrocento&family=Roboto:wght@100;400;500&display=swap');


/*=============== Variable of CSS =======================*/

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
        Blue: hsl(207, 90%, 61%)
        Purple: hsl(250, 66%, 75%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
    */
  
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --one-point-five:1.5rem;
    --h3-font-size: 1rem;
    --h4-font-size:2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ------------margin top -------------- */

    --margin-topThree:3rem;
    --margin-topFour:4rem;
    --margin-topSix:6rem;
    --margin-topFive:5rem;


    /* === =====line hight ======= */

    --line-heightFour: 4rem;
    --line-heightFive:5rem;

  }
  


  /* =============================Blobal Base ======================================= */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s; /* For animation dark mode */
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: 600;
}

ul{
    list-style: none;
  }
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.container{
  max-width: 700px;
  margin: 0 auto;
}

/* grid{
  display: grid;
} */
